{% extends "base.html" %}
{% block title %}Real Estate Tool{% endblock %}

{% block content %}
	<div style="width:90%; background-color: darkgrey; margin: auto; margin-top: 20px; border: 2px black; border-style:solid; height: 420px; padding: 10px;">
		<h4 align="center" style="color: ghostwhite; text-shadow: 1px 1px black; background-color:darkslateblue; height: 50px; font-size: 30px;margin: -10px; margin-bottom: 0px; border: 1px black; border-bottom: 3px black; border-style: solid;"> Property Value Calculator</h4>
		<div style="margin: 0px 0px 0px 10px; border-right: 2px solid black; width: 320px; height: 92%; float:left;">
			<form method="POST">
				<div class="form-group" style="margin:0;">
				    <label for="text" style="font-size: 16px; font-weight: 500;">Property Age (years):</label>
				    <input type="number" step="any" class="form-control" id="age" name = "age" style="width:150px; height:25px;">
			    </div>
				<div class="form-group" style="margin:0;">
				    <label for="text" style="font-size:16px; font-weight: 500;">Distance to MRT station (meters):</label>
				    <input type="number" step="any" class="form-control" id="mrt" name="mrt" style="width:150px; height:25px;">
			    </div>
			    <div class="form-group" style="margin:0;">
				    <label for="text" style="font-size: 16px; font-weight: 500;"># of Nearby Convenience Stores (1km):</label>
				    <input type="number" step="any" class="form-control" id="conv" name="conv" style="width:150px; height:25px;">
			    </div>
			    <div class="form-group" style="margin:0";>
				    <label for="text" style="font-size: 16px; font-weight: 500;">Latitude:</label>
				    <input type="number" step="any" class="form-control" id="lat" name="lat" style="width:150px; height:25px;">
			    </div>
			    <div class="form-group" style="margin:0;">
				    <label for="text" style="font-size: 16px; font-weight: 500;">Longitude:</label>
				    <input type="number" step="any" class="form-control" id="lon" name="lon" style="width:150px; height:25px;">
			    </div>
			    <div class="form-group" style="margin:0;">
				    <label for="text" style="font-size: 16px; font-weight: 500;">Sale Date (yyyy.yy):</label>
				    <input type="number" step="any" class="form-control" id="date" name="date" style="width:150px; height:25px;">
			    </div>
			    <button type="submit" class="btn btn-primary" style="background-color: darkslategray; float: right; display: inline-block;border: none;width: 100px; font-weight: bold;height: 60px;margin: -60px 30px 0px 15%;" onmouseover="this.style.background='#3C4F4F'; this.style.color='grey';" onmouseout="this.style.background='#2F4F4F'; this.style.color='white';">Calculate Price</button>	

			</form>
		</div>
		<div style="margin: 100px 0px 0px 20px; width: 620px; height: 92%; display: inline-block;">
			<h3 style="margin-left: 50px;font-size: 24px; font-weight: bold;">Predicted Price (NT$ per square meter): </h3>
			
			<h2 style="background-color: ghostwhite; width: 80%; margin-left: 50px; border: 2px solid black; color: darkslateblue; text-align: center;" id="butt"> NT$        {{prediction}}</h2>
			<h5 style="width: 80%; margin-left: 50px; font-size: 15px">(Using ridge regression)</h5>

		</div>
	</div>

{% endblock %}